.topp {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 4em;
    background-color: rgb(241, 208, 59);
}
.end{

    flex: row;
    flex-direction: row;
    justify-content: end;
}
